.contenedor_carta{
    background-color: rgb(220, 220, 220);
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.imagen_carta{
    width: 100%;
}

.contenedor_info{
    padding: 10px;
}

.contenedor_info h4{
    margin: 0;
    margin-top: 15px;
}

.card.titulo{
   margin: 0;
}

.contenedor_boton{
    padding: 15px;
}

.boton{
   background-color: brown;
   border: none; 
   padding: 5px 10px;
   color: white;
   text-decoration: none;
}

.card_descripcion{
    height: 100px;
}