.pagina_titulo_home{
    margin-left: 15px;
}

.banner_home{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.banner_home img{
    width: 90%;
    height: auto;
}

.informacion{
    max-width: 90rem;
    margin:  0 auto;
}